
<style type="text/css">
body{
	background-color: lightblue;
	font: inherit;
	font-size: 20;
	margin-right:auto;
	margin-left: auto;
}
input{
	
	background-color: black;
}

.floated{
	float: left;
}

div{
	
}
</style>



