body {
		padding: .2em;
	 	font-family:verdana,times,serif;
	 	color:darkblue;
	 	background-color:lightgreen;
	 }
ul{
	top: 50px;
	left: 70px;
	width: 70%;
	position: absolute;
}
li{
	background: lightsalmon;
	margin: 30px;
	padding: .5em;
	border-right: 20px;
}